$background-principal: #3085C3;
$background-icon: #FFF;
$background-icon-hover: #F4E869;

.header{
    background-color: $background-principal;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3rem;
        &__left{
            display: flex;
            align-items: center;
        }
        &__right{
            display: flex;
            align-items: center;
        }
        &__figure{
            padding: .5rem;
            &--hidden{
                display: none;
            }
        }

        &__img{
            fill: $background-icon;
            width: 1.5rem;
            &:hover{
                fill:$background-icon-hover;
                cursor: pointer;
            }
        }
    }
}
